<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>选择城市</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header clearfix">
		<span class="floatleft"><i class="icon-iback font22"></i></span>
		<span class="mid_name font14 aligncenter">选择城市</span>
		<span class="floatright">确定</span>
	</header>
	<!--通讯录列表begin-->
	<!--搜索begin-->
	<section class="search_out">
		<div class="search" id="user_ser"><!--当点击search的时候加current并且input获取焦点,当输入完城且输入框为空时再去掉current-->
			<i class="icon-iser font14"></i>
			<input type="text" class="aligncenter" placeholder="搜索">
		</div>
	</section>
	<!--搜索over-->
	<section class="main contact_main" id="wrapper">
		<div id="scroller">
			<ul class="contactBox city_list">
				<li class="clearfix choosed">
					<div class="floatleft">
						<p>河北省</p>
					</div>
					<i class="icon-expand-more"></i>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>阿尔及利亚</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>阿波罗</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北京</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北美</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北爱尔兰联合王国</p>
					</div>
				</li>
				<li class="clearfix choosed">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北京</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北美</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北爱尔兰联合王国</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北京</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北美</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="floatleft">
						<p>北爱尔兰联合王国</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--字母begin-->
	<div class="wordfind_main" style="right:-125px;">
		<span class="active">A</span>
		<span>B</span>
		<span>C</span>
		<span>D</span>
		<span>E</span>
		<span>F</span>
		<span>G</span>
		<span>H</span>
		<span>I</span>
		<span>J</span>
		<span>K</span>
		<span>L</span>
		<span>M</span>
		<span>N</span>
		<span>O</span>
		<span>P</span>
		<span>Q</span>
		<span>R</span>
		<span>S</span>
		<span>T</span>
		<span>U</span>
		<span>V</span>
		<span>W</span>
		<span>X</span>
		<span>Y</span>
		<span>Z</span>
	</div>
	<!--字母over-->
	<!--当前字母begin-->
	<span class="block word_current" style="display: ;">A</span>
	<!--当前字母begin-->
	<!--通讯录列表over-->
</div>
</body>
</html>















