<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header header_large clearfix">
		<span class="userimg img-50 floatleft"><img src="../img/1.jpg"></span>
		<p class="p-top15 font14">王振佳</p>
		<p class="color-6">上海万企明道软件有限公司</p>
	</header>
	<!--列表begin-->
	<section class="main list_main" id="wrapper">
		<div id="scroller">
			<p class="list_tilte alignright clearfix">
				<span class="floatleft marl10 color-8">我来审批 (20)</span>
				<span class="more" id="choose_some">批量操作</span>
			</p>
			<ul class="list" title="点击批量操作时候给这个UL加choose">
				<li>
					<span class="radio_ico current"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是展开的" class="current">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
					<section class="preview" style="display:;">
						<em class="arrow_t"></em>
						<table>
							<tr>
								<th>申请人：</th>
								<td>赵晓阳</td>
							</tr>
							<tr>
								<th>部&nbsp;&nbsp;&nbsp;门：</th>
								<td>明道北京研发中心</td>
							</tr>
							<tr>
								<th>备&nbsp;&nbsp;&nbsp;注：</th>
								<td>2015年1月交通费报销</td>
							</tr>
						</table>
						<p class="alignright mart10 clearfix">
							<span class="btn_inline floatleft">详情...</span>
							<span class="btn_inline">更多...</span>
							<span class="btn_inline marl5 marr5 btn_no">否 决</span>
							<span class="btn_inline btn_yes">通 过</span>
						</p>
					</section>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">职工报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">部门费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li" style="left:-100px;">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
					<span class="btn_block btn_more">更 多...</span>
					<span class="btn_block btn_no">否 决</span>
					<span class="btn_block btn_yes">通 过</span>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li" style="right:-200px;">
						<i class="icon-expand-more"></i>
						<p class="font14">出差申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
					<span class="btn_block btn_more">更 多...</span>
					<span class="btn_block btn_no">否 决</span>
					<span class="btn_block btn_yes">通 过</span>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<span class="radio_ico"><i class="icon-check2"></i></span>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">薪资调整申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--列表over-->
	<!--批量操作时候出现的按钮组begin-->
	<div class="btn_items_bt current clearfix">
		<span class="btn_no">否 决</span>
		<span class="btn_yes">通 过</span>
	</div>
	<!--批量操作时候出现的按钮组begin-->
	<footer class="footer_tool">
		<span class="current"><i class="icon-laptop-chromebook"></i>工作台</span>
		<span><i class="icon-play-install"></i>归档</span>
		<span><i class="icon-search2"></i>搜索</span>
		<span><i class="icon-plus"></i>新建表单</span>
	</footer>
</div>
</body>
</html>















