<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header header_large clearfix">
		<span class="userimg img-50 floatleft"><img src="../img/1.jpg"></span>
		<p class="p-top15 font14">王振佳</p>
		<p class="color-6">上海万企明道软件有限公司</p>
	</header>
	<!--列表begin-->
	<section class="main list_main" id="wrapper">
		<div id="scroller">
			<p class="list_tilte alignright clearfix">
				<span class="floatleft marl10 color-8">我来审批 (20)</span>
				<span class="more">批量操作</span>
			</p>
			<ul class="list">
				<li>
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是展开的" class="current">
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
				<li title="这个是不能展开的" class="no_preview">
					<div class="list_li">
						<i class="icon-expand-more"></i>
						<p class="font14">员工费用报销申请</p>
						<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--列表over-->
	<footer class="footer_tool">
		<span class="current"><i class="icon-laptop-chromebook"></i>工作台</span>
		<span><i class="icon-play-install"></i>归档</span>
		<span><i class="icon-search2"></i>搜索</span>
		<span><i class="icon-plus"></i>新建表单</span>
	</footer>
</div>
</body>
</html>















