<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>OAlogin</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
	<div class="view">
		<span class="login block aligncenter"><img src="../img/logo.png"></span>
		<div class="login_box">
			<p>
				<i class="icon-person font20"></i>
				<input type="text" placeholder="明道账号"/>
			</p>
			<p>
				<i class="icon-vpn-key font16"></i>
				<input type="password" placeholder="密码"/>
			</p>
		</div>
		<p class="company_name aligncenter">上海万企明道软件有限公司</p>
		<span class="btn btn_login">登 录</span>
	</div>
	<div class="mask"></div>
	<!--选择网络弹出begin-->
		<div class="choosenet" style="display:;">
			<div class="choosenet_out">
				<div class="choosenetin">
					<ul>
						<li class="current">Mingdao Plus</li>
						<li>梅花和明道</li>
						<li>Mingdao Plus</li>
						<li>梅花和明道</li>
						<li>Mingdao Plus</li>
						<li>梅花和明道</li>
						<li>Mingdao Plus</li>
						<li>梅花和明道</li>
						<li>Mingdao Plus</li>
						<li>梅花和明道222</li>
					</ul>
				</div>
			</div>
			<span class="quitBtn aligncenter">取消</span>
		</div>
		<!--选择网络弹出over-->
	<!--提示更新 begin-->
	<div class="choosenet update" style="display:none;">
		<div class="choosenet_out">
			<div class="choosenetin">
				<p class="font14">目前有新版本，是否升级？</p>
				<p>最新版本：v1.01</p>
				<p>更新内容</p>
				<p>1、优化界面显示</p>
				<p>2、修复列表BUG</p>
				<p>3、优化界面加载速度</p>
				<p>4、新增提示效果</p>
				<p>5、修复列表BUG</p>
				<p>6、优化界面加载速度</p>
				<p>7、新增提示效果</p>
			</div>
		</div>
		<p class="bottomB font14 clearfix">
			<span class="quitBtn aligncenter">取&nbsp;&nbsp;&nbsp;消</span>
			<span class="quitBtn aligncenter current">确&nbsp;&nbsp;&nbsp;定</span>
		</p>
	</div>
	<!--提示更新 over-->
</body>
</html>















