<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>reg</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header reg clearfix">
			<span class="floatleft color-white"><i class="icon-iback font22"></i></span>
		</header>
		<section class="main" style="top:45px;">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="http://www.mingdao.com/m/default.htm"></iframe>
		</section>
	</div>
</body>
</html>

