<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>表单详情</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header clearfix">
		<span class="floatleft"><i class="icon-iback font22"></i></span>
		<span class="mid_name font14 aligncenter">审批完成</span>
		<!--<span class="floatright"><i class="icon-paper-clip font16"></i></span>-->
		<!--<span class="floatright"><i class="icon-share font16"></i></span>-->
	</header>
	<section class="main"style="top:85px;">
		<p class="aligncenter color-8 font14 marl15 marr15"><img src="../img/icon-ok.png" class="marr10" style="vertical-align: -7px;">费用报销申请审批成功</p>
		<p class="aligncenter color-8 font14 marl15 marr15"><img src="../img/icon-waring.png" class="marr10" style="vertical-align: -7px;">费用报销申请审批成功</p>
	</section>
</div>
</body>
</html>
