<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>查看流程</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">查看流程</span>
			<!--<span class="floatright"><i class="icon-plus font20"></i></span>-->
		</header>
		<section class="main process_main" id="wrapper">
			<div id="scroller">
				<ul class="item_list item_list_step mart5">
					<li>
						<div class="inner">
							<span>第一步：</span>
							<span class="name">刘德华</span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>第二步：</span>
							<span class="name">刘德华</span>
						</div>
					</li><li>
						<div class="inner">
							<span>第三步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>第四步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<span class="btn btn_commit">保存流程</span>
	</div>
</body>
</html>















