<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>评分表单</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">评分表单</span>
			<span class="floatright">取消</span>
		</header>
		<section class="main process_main" id="wrapper">
			<div id="scroller">
				<ul class="item_list">
					<li>
						<p class="li_top">第一项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">责任心</span>
							<span class="color-info marr35">10分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第二项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">工作效率</span>
							<span class="color-info marr35">10分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第二项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">工作效率</span>
							<span class="color-info marr35">10分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第二项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">工作效率</span>
							<span class="color-info marr35">10分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第二项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">工作效率</span>
							<span class="color-info marr35">10分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第三项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<p class="li_top">第999项</p>
						<div class="inner clearfix alignright">
							<span class="floatleft">综合素质</span>
							<span class="color-info marr35">9分</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<span class="btn btn_commit">提交评分</span>
	</div>
</body>
</html>















