<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>评分表单</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">评分表单</span>
		</header>
		<section class="main score_main" id="wrapper">
			<div id="scroller">
				<ol class="score_details">
					<li><em>1</em>对自身岗位职责与目标负责，勇于承担责任对自身岗位职责与目标负责对自身岗位职责与目标负责</li>
					<li><em>2</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>3</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>4</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>5</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>6</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>7</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>8</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>5</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>6</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>7</em>对自身岗位职责与目标负责，勇于承担责任。</li>
					<li><em>8</em>对自身岗位职责与目标负责，勇于承担责任。</li>
				</ol>
			</div>
		</section>
		<ul class="item_list score_item_list">
			<li>
				<div class="inner clearfix alignright">
					<span class="floatleft">您打出的分数</span>
					<select class="select_in floatleft">
						<option>8 分</option>
						<option>1 分</option>
						<option>2 分</option>
						<option>3 分</option>
					</select>
					<span class="marr35 color-a">满分10分</span>
					<i class="icon-expand-more"></i>
				</div>
			</li>
		</ul>
		<span class="btn btn_login">保存返回</span>
	</div>
</body>
</html>















