<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>高级搜索</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header search_header">
			<section class="search_out nobg">
				<div class="search " id="user_ser"><!--当点击search的时候加current并且input获取焦点,当输入完城且输入框为空时再去掉current-->
					<i class="icon-iser font14"></i>
					<input type="text" class="" placeholder="搜索">
				</div>
			</section>
		</header>
		<section class="main list_main search_main" id="wrapper">
				<div id="scroller">
					<p class="list_tilte alignright clearfix">
						<span class="floatleft marl10 color-8">申请</span>
					</p>
					<ul class="list" title="点击批量操作时候给这个UL加choose">
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
					</ul>
					<p class="list_tilte alignright clearfix">
						<span class="floatleft marl10 color-8">审批</span>
					</p>
					<ul class="list" title="点击批量操作时候给这个UL加choose">
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
					</ul>
					<p class="list_tilte alignright clearfix">
						<span class="floatleft marl10 color-8">经办</span>
					</p>
					<ul class="list" title="点击批量操作时候给这个UL加choose">
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
					</ul>
					<p class="list_tilte alignright clearfix">
						<span class="floatleft marl10 color-8">转阅</span>
					</p>
					<ul class="list" title="点击批量操作时候给这个UL加choose">
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
						<li class="no_preview">
							<div class="list_li">
								<i class="icon-expand-more"></i>
								<p class="font14">员工费用报销申请</p>
								<p><span class="more">赵晓阳</span>2015-2-10 14:26 申请 等待审批</p>
							</div>
						</li>
					</ul>
			</div>
		</section>
		<footer class="footer_tool">
			<span><i class="icon-laptop-chromebook"></i>工作台</span>
			<span><i class="icon-play-install"></i>归档</span>
			<span class="current"><i class="icon-search2"></i>搜索</span>
			<span><i class="icon-plus"></i>新建表单</span>
		</footer>
	</body>
</html>
