<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>登出</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
<div class="view">
	<header class="header clearfix">
		<span class="floatleft"><i class="icon-iback font22"></i></span>
		<span class="mid_name font14 aligncenter">个人中心</span>
	</header>
	<!--列表begin-->
	<section class="main" style="top:50px;">
		<header class="header header_large clearfix">
			<span class="userimg img-50 floatleft"><img src="../img/1.jpg"></span>
			<p class="p-top15 font14">王振佳</p>
			<p class="color-6">上海万企明道软件有限公司</p>
		</header>
		<span class="block out">切换网络</span>
		<span class="block out t_veto">安全登出</span>
	</section>
	<!--列表over-->
	<footer class="footer_tool">
		<span><i class="icon-laptop-chromebook"></i>工作台</span>
		<span><i class="icon-play-install"></i>归档</span>
		<span><i class="icon-search2"></i>搜索</span>
		<span><i class="icon-plus"></i>新建表单</span>
	</footer>
	<!--选择网络弹出begin-->
	<div class="mask"></div>
	<div class="choosenet" style="display:;">
		<div class="choosenet_out">
			<div class="choosenetin">
				<ul>
					<li class="current">Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道222</li>
				</ul>
			</div>
		</div>
		<span class="quitBtn aligncenter">取消</span>
	</div>
	<!--选择网络弹出over-->
</div>
</body>
</html>















