<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>OA</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
	<div class="view" style="background:#e2e3e1;">
		<p class="splash_logo aligncenter"><img src="../img/splash_logo.png"></p>
		<img src="../img/splash_img.jpg" class="splash_img">
	</div>
</body>
</html>















