<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>填写表单step2</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="floatleft"><i class="icon-iback font22"></i></span>
			<span class="mid_name font14 aligncenter">付款申请</span>
			<span class="floatright"><i class="icon-plus font20"></i></span>
		</header>
		<section class="main process_main" id="wrapper">
			<div id="scroller">
				<ul class="item_list">
					<li>
						<div class="inner">
							<span>选择流程</span>
							<span class="color-8 txt_hidden" style="width:90%;display:none;">
								<em>刘德华 &gt;</em>
								<em>赵阳 &gt;</em>
								<em>王佳 &gt;</em>
								<em>王佳佳 &gt;</em>
								<em>王振家 &gt;</em>
								<em>刘德华 &gt;</em>
								<em>赵阳 &gt;</em>
								<em>王佳 &gt;</em>
								<em>王佳佳 &gt;</em>
								<em>刘德华 &gt;</em>
								<em>赵阳 &gt;</em>
								<em>王佳 &gt;</em>
								<em>王佳佳 &gt;</em>
							</span>
							<i class="icon-expand-more"></i>
						</div>
						<span class="Revoke">删除</span>
					</li>
				</ul>
				<p class="li_top">详细流程</p>
				<ul class="item_list item_list_step mart5">
					<li>
						<div class="inner">
							<span>第一步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>第二步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li><li>
						<div class="inner">
							<span>第三步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>第四步：</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
						</div>
					</li>
				</ul>
				<p class="li_top">传阅</p>
				<ul class="item_list item_list_step mart5">
					<li>
						<div class="inner">
							<span style="display:none;">选择传阅</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<div class="inner">
							<span style="display:none;">选择传阅</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<div class="inner">
							<span style="display:none;">选择传阅</span>
							<span class="userimg"><img src="../img/1.jpg"></span>
							<span class="name">刘德华</span>
							<i class="icon-expand-more"></i>
						</div>
					</li>
				</ul>
				<p class="li_top">提醒设置</p>
				<ul class="item_list item_list_step mart5">
					<li>
						<div class="inner">
							<span>置顶在TA的待审列表中</span>
							<span class="touch_off current"><em></em></span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>经办完成后请通知我确认</span>
							<span class="touch_off current"><em></em></span>
						</div>
					</li>
					<li>
						<div class="inner">
							<span>超过24小时开启提醒</span>
							<span class="touch_off"><em></em></span>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!--<span class="btn btn_commit">提交申请</span>-->
		<p class="btnItem">
            <span class="btn">保存草稿</span>
            <span class="btn btn_commit">提交申请</span>
        </p>
	</div>
</body>
</html>















