<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>填写表单step1</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="mid_name font14 aligncenter">付款申请</span>
			<span class="floatright">取消</span>
		</header>
		<section class="main process_main" id="wrapper"><!--当是安卓机子的时候就不用这个滚动条插件了，并且给main加    style="overflow-y:auto;"-->
			<div id="scroller">
				<ul class="item_list editList p-top10">
					<li class="choose">
						<div class="inner">
							<div class="	Inmask">
								<span class="floatleft">申请部门</span>
								<span class="text_int">必填</span>
							</div>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li class="choose">
						<div class="inner">
							<div class="	Inmask">
								<span class="floatleft">出差城市</span>
								<span class="text_int">新西兰</span>
							</div>
							<i class="icon-expand-more"></i>
						</div>
					</li>
					<li>
						<div class="inner">
							<div class="	Inmask">
								<span class="floatleft">开始时间</span>
								<span class="text_int alignright">
									<select class="select_in">
										<option>2015年3月6日</option>
										<option>2015年3月8日</option>
										<option>2015年3月9日</option>
										<option>2015年3月10日</option>
										<option>2015年3月11日</option>
									</select>
								</span>
							</div>
						</div>
					</li>
					<li>
						<div class="inner">
							<div class="	Inmask">
								<span class="floatleft">支付方式</span>
								<span class="text_int alignright">
									<select class="select_in">
										<option>现金支付</option>
										<option>银行转账</option>
										<option>支票付款</option>
										<option>邮政汇款</option>
									</select>
								</span>
							</div>
						</div>
					</li>
					<li>
						<div class="inner has-error"><!--验证填写的信息是否真确，如果不正确加has-error，并将span或input里面的内容改成提示信息，当input再次获得焦点是再恢复用户的填写的信息或是清空重新写-->
							<div class="	Inmask">
								<span class="floatleft">信息不完整</span>
								<span class="text_int"><input type="text" placeholder="必填" class="" value=""></span>
							</div>
						</div>
					</li>
					<li class="mart10 autoHeight">
						<div class="inner has-error">
							<textarea class="article" placeholder="采购事项"></textarea>
						</div>
						<p class="aligncenter color-a p-top5">请点击空白区域，输入采购事项</p>
					</li>
					<li class="mart10 autoHeight">
						<div class="inner">
							<textarea class="article" placeholder="备注信息"></textarea>
							<span class="textnumber font14">最多500字</span>
						</div>
						<p class="aligncenter color-a p-top5">请点击空白区域，输入备注</p>
					</li>
					<li class="mart10 autoHeight upimg">
						<div class="inner">
							<div class="Inmask clearfix">
								<span class="floatleft">上传图片</span>
							</div>
							<div class="uploadimg">
								<img src="../img/1.jpg">
								<img src="../img/1.jpg">
								<img src="../img/1.jpg">
								<img src="../img/1.jpg">
								<img src="../img/1.jpg">
								<img src="../img/1.jpg">
							</div>
							<i class="icon-expand-more"></i>
						</div>
						<p class="aligncenter color-a p-top5">您最多可上传6张图片</p>
					</li>
				</ul>
				<!--多选begin-->
				<ul class="item_list editList p-top10">
					<li class="noboder"><p class="color-8 marl10 has-error">选择多种付款方式<span class="floatright marr10 error">请选择付款方式</span></p></li>
					<li class="choose"><!--加choosed选中当前流程-->
						<div class="inner">
							<div class="alignright font14 color-8 marr10 clearfix">
								<em class="floatleft">银行付款</em>
								<span class="font18 icon-square-check"></span>
							</div>
						</div>
					</li>
					<li class="choose"><!--加choosed选中当前流程-->
						<div class="inner">
							<div class="alignright font14 color-8 marr10 clearfix">
								<em class="floatleft">支票</em>
								<span class="font18 icon-square-checked"></span>
							</div>
						</div>
					</li>
				</ul>
				<!--多选over-->
				<!--单选begin-->
				<ul class="item_list editList p-top10">
					<li class="noboder"><p class="color-8 marl10">选择性别<span class="floatright marr10 error">请选择性别</span></p></li>
					<li class="choose"><!--加choosed选中当前流程-->
						<div class="inner">
							<div class="alignright font14 color-8 marr10 clearfix">
								<em class="floatleft">男</em>
								<span class="font18 icon-check2"></span>
							</div>
						</div>
					</li>
					<li class="choose"><!--加choosed选中当前流程-->
						<div class="inner">
							<div class="alignright font14 color-8 marr10 clearfix">
								<em class="floatleft">女</em>
							</div>
						</div>
					</li>
				</ul>
				<!--单选over-->
				<!--加班begin-->
				<div class="details" style="display:;">
					<section class="form_box">
						<p class="color-3 alignright">
							<span class="floatleft">加班记录1</span>
							<span class="btn_inline">修 改</span>
							<span class="btn_inline btn_no marl10">删 除</span>
						</p>
						<table class="mart5">
							<tr>
								<th>开始时间：</th>
								<td>2015-2-12 12:45</td>
							</tr>
							<tr>
								<th>结束时间：</th>
								<td>2015-2-12 12:45</td>
							</tr>
							<tr>
								<th>备注：</th>
								<td>请提前安排工位以及相关办公工具，并安排好住宿和日常起居。</td>
							</tr>
						</table>
					</section>
					<section class="form_box">
						<p class="color-3">加班记录2</p>
						<table class="mart5">
							<tr>
								<th>开始时间：</th>
								<td>2015-2-12 12:45</td>
							</tr>
							<tr>
								<th>结束时间：</th>
								<td>2015-2-12 12:45</td>
							</tr>
							<tr>
								<th>备注：</th>
								<td>请提前安排工位以及相关办公工具，并安排好住宿和日常起居。</td>
							</tr>
						</table>
					</section>
				</div>
				<ul class="item_list">
					<li><div class="inner more aligncenter">+添加一条加班记录</div></li>
				</ul>
				<!--加班over-->
			</div>
		</section>
		<span class="btn btn_next">下一步</span>
	</div>
</body>
</html>















