<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>list</title>
		<link rel="stylesheet" type="text/css" href="../css/mstyles.css">
		<link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
		
		<script>
			
		</script>
	</head>

	<body>
		<!--列表begin-->
		<section class="main list_main" id="wrapper" style="top: 0px;bottom:0">
			<div  class="workData">
				<p class="list_tilte alignright clearfix">
					<span class="floatleft marl10 color-8 desc" dir="21">待审批 (21)</span>
					<span class="more batchCancelAction floatleft" style="display:none;">取消</span>
					<span class="more batchAction">批量操作</span>
				</p>
				<ul class="list" dir="task">
					<li uid="51834" reqid="31866" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0024]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-08-22 19:57:56 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="49009" reqid="30384" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">出差申请 <span class="t_wait">[BT-2014-0043]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-08-19 23:07:45 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="42950" reqid="16116" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">出差申请 <span class="t_wait">[BT-2014-0022]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:09:33 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="42948" reqid="16120" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">采购申请 <span class="t_wait">[CG-2014-0010]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:10:17 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="42938" reqid="16135" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">费用预支申请表 <span class="t_wait">[sl-2014-0001]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:18:48 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="42878" reqid="16124" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">付款申请 <span class="t_wait">[FK-2014-0006]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:15:00 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="42877" reqid="16150" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">岗位薪资调整申请 <span class="t_wait">[GX-2014-0003]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:31:22 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="42876" reqid="16141" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">合同评审 <span class="t_wait">[PS-2014-0001]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:23:29 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="36411" reqid="16304" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0017]</span>
							</p>
							<p><span class="name width-60">oddetta</span> <span class="t_wait">于</span> 2014-07-09 14:40:44 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="36410" reqid="16309" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0018]</span>
							</p>
							<p><span class="name width-60">oddetta</span> <span class="t_wait">于</span> 2014-07-09 14:47:07 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="36409" reqid="17849" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">出差申请 <span class="t_wait">[BT-2014-0029]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-15 11:34:16 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="36368" reqid="17850" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">出差申请 <span class="t_wait">[BT-2014-0030]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-15 11:34:55 <span class="t_wait">发起</span> 已被 <span class="name width-60">王振佳</span> <span class="t_croose">通过</span>
							</p>
						</div>
					</li>
					<li uid="28727" reqid="18496" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0019]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-07-16 17:57:05 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="25215" reqid="16310" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">请假单 <span class="t_wait">[AR-2014-0015]</span>
							</p>
							<p><span class="name width-60">oddetta</span> <span class="t_wait">于</span> 2014-07-09 14:49:11 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="25192" reqid="16296" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0016]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-07-09 14:36:24 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="25139" reqid="16265" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">外出登记 <span class="t_wait">[GO-2014-0006]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-07-09 14:03:34 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="25114" reqid="16252" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">费用报销 <span class="t_wait">[ER-2014-0015]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-07-09 13:56:22 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="24992" reqid="16185" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">招聘申请 <span class="t_wait">[RE-2014-0002]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:57:58 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="24981" reqid="16178" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">印名片申请 <span class="t_wait">[MP-2014-0001]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:50:18 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="24960" reqid="16164" quickpreview="N">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<p class="font14">设备管理 <span class="t_wait">[SB-2014-0001]</span>
							</p>
							<p><span class="name width-60">王佳</span> <span class="t_wait">于</span> 2014-07-09 11:41:41 <span class="t_wait">发起</span> </p>
						</div>
					</li>
					<li uid="7896" reqid="5791" quickpreview="Y">
						<span class="radio_ico"><i class="icon-check2"></i></span>
						<div class="list_li">
							<i class="icon-expand-more"></i>
							<p class="font14">出差申请 <span class="t_wait">[BT-2014-0010]</span>
							</p>
							<p><span class="name width-60">王振佳</span> <span class="t_wait">于</span> 2014-05-13 14:58:30 <span class="t_wait">发起</span> </p>
						</div>
					</li>
				</ul>
				<p class="list_tilte alignright clearfix">
					<span class="floatleft marl10 color-8 desc" dir="1">待经办 (1)</span>
				</p>
				<ul class="list" dir="manage">
					<li uid="50377" reqid="84875" quickpreview="undefined">
						<div class="list_li">
							<p class="font14">测试 <span class="t_wait">[CS-2014-0002]</span>
							</p>
							<p><span class="name width-60">赵阳</span> <span class="t_wait">于</span> 2014-11-28 12:06:18 <span class="t_wait">发起</span> 等待您的 <span class="t_wait">处理</span>
							</p>
						</div>
					</li>
				</ul>
				
			</div>
		</section>
		<!--列表over-->
	</body>

</html>