<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>填写表单step1</title>
    <link rel="stylesheet" type="text/css" href="../css/mstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="view">
		<header class="header clearfix">
			<span class="mid_name font14 aligncenter">加班详情</span>
			<span class="floatright">取消</span>
		</header>
		<section class="main process_main" id="wrapper"><!--当是安卓机子的时候就不用这个滚动条插件了，并且给main加    style="overflow-y:auto;"-->
			<div id="scroller">
				<ul class="item_list editList p-top10">
					<li>
						<div class="inner">
							<div class="Inmask">
								<span class="floatleft">开始时间</span>
								<span class="text_int alignright">
									<select class="select_in">
										<option>2015年3月6日</option>
										<option>2015年3月8日</option>
										<option>2015年3月9日</option>
										<option>2015年3月10日</option>
										<option>2015年3月11日</option>
									</select>
								</span>
							</div>
						</div>
					</li>
					<li>
						<div class="inner">
							<div class="Inmask">
								<span class="floatleft">结束时间</span>
								<span class="text_int alignright">
									<select class="select_in">
										<option>2015年3月6日</option>
										<option>2015年3月8日</option>
										<option>2015年3月9日</option>
										<option>2015年3月10日</option>
										<option>2015年3月11日</option>
									</select>
								</span>
							</div>
						</div>
					</li>
					<li class="mart10 autoHeight">
						<div class="inner">
							<textarea class="article" placeholder="加班事由"></textarea>
						</div>
						<p class="aligncenter color-a p-top5">请点击空白区域，输入加班事由</p>
					</li>
				</ul>
			</div>
		</section>
		<span class="btn btn_commit">保 存</span>
	</div>
</body>
</html>















